@import "../css/setting/reset";
@import "../css/setting/setting";

.e03__fyp__main-wrapper{
    width: 68.5%;
    margin: 0 auto;

    .e03__fyp__txt--reset-password{
        font-size: 26pt;
        color: $color-main;
        text-align: center;
        font-weight: $font-weight-base;
        font-family: $font-family-base;
        margin-top: 50px;
    }
    .e03__fyp__txt--main-paragraph{
        margin-top: 42px;
        
    }
    .e03__fyp__txt--instructions-first{
        margin-top: 20px;
        font-size: $font-size-base;
    }
    .e03__fyp__wrapper--input-email-address{
        margin-top: 40px;
        text-align: center;

        .e03__fyp__wrapper--required-txt{
            display: inline-block;

            @media screen and(max-width:940px){
                display: block;
                
            }

            .e03__fyp__wrapper--required{
                display: inline-block;
                margin-right: 1.4%;
            }
            .e03__fyp__txt--email-address{
                display: inline-block;
                margin-right: 2.2%;
            }

        }
        
        .e03__fyp__wrapper--input{
            display: inline-block;
            .e03__fyp__input__area--email-address{
                width: 460px;

                @media screen and(max-width:940px) {
                    width: 100%;
                    
                }
            }
        }
    }
    .e03__fyp__wrapper-transmission_cancel-btn{
        margin-top: 42px;

        .e03__fyp__transmisson-btn{
            display: block;
            margin: 0 auto;
        }
        .e03__fyp__cancel-btn{
            display: block;
            margin: 24px auto 0 auto;
        }
    }
    .e03__fyp__txt--instructions--second{
        margin-top: 24px;
        font-size: $font-size-base;
        text-align: center;
        margin-bottom: 115px;
    }
}