@import "../../../../../setting/reset";
@import "../../../../../setting/setting";

.f03__bdcc__background--grey {
    height: 766px;
    background: $color-icon-default;


    @media screen and(max-width:768px) {
        height: 628px;

    }

    .f03__bdcc__inner__group {

        .f03__bdcc__crossbtn__wrapper {

            .f03__bdcc__crossbtn {
                background-color: $color-accordion-icon;
                position: absolute;
                left: 82.5%;
                top: 29%;

                @media screen and(max-width:768px) {
                    position: absolute;
                    left: 91.6%;
                    top: 21%;
                }

                @media screen and(max-width:425px) {
                    position: absolute;
                    left: 89%;
                    top: 21%;
                }

                @media screen and(max-width:320px) {
                    position: absolute;
                    left: 87%;
                    top: 21%;

                }
            }
        }

        .f03__bdcc__container--white {
            background: $color-background-base;
            display: inline-block;
            width: 68.1%;
            height: 240px;
            border-radius: 10px;
            margin: 230px 16%;
            text-align: center;

            @media screen and(max-width: 768px) {
                width: 89.4%;
                height: 314px;
                margin: 147px 4.6%;
            }


            .f03__bdcc__txt--cancel {
                color: $color-text-main;
                margin-top: 65px;
                font-size: 12pt;
                font-family: $font-family-base;
                font-weight: $font-weight-base;

                @media screen and(max-width:768px) {
                    margin-top: 70px;


                }
            }

            .f03__bdcc__btn-wrapper--yes-no {
                margin-top: 49px;

                @media screen and(max-width:768px) {
                    margin-top: 46px;

                }

                .f03__bdcc__btn--no,
                .f03__bdcc__btn--yes {
                    margin: 0 5px 0 5px;
                    width: 192px;

                    @media screen and(max-width:768px) {
                        display: block;
                        margin: 20px auto;
                        width: 205px;

                    }
                }
            }




        }


    }


}