@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.4rem;
  background-color: #fff;
  line-height: 1.6;
  letter-spacing: 0;
  font-weight: 400;
  font-family: "Noto Sans JP", "Lato", sans-serif;
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}

.container {
  padding-left: 17px;
  padding-right: 17px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 768px) {
  .inner {
    width: 100%;
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  line-height: 1.7;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.pie__main__wrapper {
  height: 1800px;
}

.pie__main__wrapper .pie__txt--pet-infomation-change {
  text-align: center;
  color: #6F8D1B;
  font-size: 26pt;
  font-family: "Noto Sans JP", "Lato", sans-serif;
  margin-top: 27px;
  margin-bottom: 45px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt {
  display: inline-block;
  width: 620px;
  margin-left: 19%;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11_pie__wrapper--required-group {
  display: inline-block;
  width: 50px;
  height: 1000px;
  margin-left: 0%;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11_pie__wrapper--required-group .f11_pie__required-wrapper--1 {
  margin: 0;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11_pie__wrapper--required-group .f11_pie__required-wrapper--2 {
  margin-top: 45px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11_pie__wrapper--required-group .f11_pie__required-wrapper--3 {
  margin-top: 58px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11_pie__wrapper--required-group .f11_pie__required-wrapper--4 {
  margin-top: 58px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11_pie__wrapper--required-group .f11_pie__required-wrapper--5 {
  margin-top: 58px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11_pie__wrapper--required-group .f11_pie__required-wrapper--6 {
  margin-top: 47px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11_pie__wrapper--required-group .f11_pie__required-wrapper--7 {
  margin-top: 314px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11_pie__wrapper__edit-item {
  position: absolute;
  top: 238px;
  display: inline-block;
  height: 1000px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11_pie__wrapper__edit-item .f11_pie__txt--pet-name {
  margin-top: 0;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11_pie__wrapper__edit-item .f11_pie__txt--pet-name-katakana {
  margin-top: 38px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11_pie__wrapper__edit-item .f11_pie__txt--pet-gender {
  margin-top: 50px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11_pie__wrapper__edit-item .f11_pie__txt--pet-birthdate {
  margin-top: 51px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11_pie__wrapper__edit-item .f11_pie__txt--type-of-pet {
  margin-top: 51px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11_pie__wrapper__edit-item .f11_pie__txt--valid-rabies-vaccination {
  margin-top: 42px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11_pie__wrapper__edit-item .f11_pie__txt--mixed-vaccine {
  margin-top: 57px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11_pie__wrapper__edit-item .f11_pie__txt--rabies-vaccine {
  margin-top: 96px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11_pie__wrapper__edit-item .f11_pie__txt--pet-breeds {
  margin-top: 99px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11__pie__wrapper--input-btn {
  display: inline-block;
  position: absolute;
  top: 226px;
  margin-left: 230px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11__pie__wrapper--input-btn .f11__pie__input__wrapper--pet-name-katakana {
  margin-top: 17px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11__pie__wrapper--input-btn .f11__pie__radiobtn-wrapper--pet-gander {
  margin-top: 28px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11__pie__wrapper--input-btn .f11__pie__radiobtn-wrapper--pet-gander .f11__pie__radiobtn-wrapper--male {
  display: inline-block;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11__pie__wrapper--input-btn .f11__pie__radiobtn-wrapper--pet-gander .f11__pie__radiobtn-wrapper--female {
  display: inline-block;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11__pie__wrapper--input-btn .f11__group-wrapper__input-dropdown--birth-date {
  margin-top: 29px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11__pie__wrapper--input-btn .f11__group-wrapper__input-dropdown--birth-date .f11__input-dropdown__wrapper--birth-date-year {
  display: inline-block;
  width: 92px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11__pie__wrapper--input-btn .f11__group-wrapper__input-dropdown--birth-date .f11__input-dropdown__wrapper--birth-date-month {
  display: inline-block;
  width: 73px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11__pie__wrapper--input-btn .f11__group-wrapper__input-dropdown--birth-date .f11__input-dropdown__wrapper--birth-date-day {
  display: inline-block;
  width: 73px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11__pie__wrapper--input-btn .f11__pie__radiobtn-wrapper--type-of-pet {
  margin-top: 29px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11__pie__wrapper--input-btn .f11__pie__radiobtn-wrapper--type-of-pet .f11__pie__radiobtn-wrapper--dog {
  display: inline-block;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11__pie__wrapper--input-btn .f11__pie__radiobtn-wrapper--type-of-pet .f11__pie__radiobtn-wrapper--cat {
  display: inline-block;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11__pie__wrapper--input-btn .f11__pie__wrapper--mixed-vaccine-calender {
  display: inline-block;
  margin-top: 95px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11__pie__wrapper--input-btn .f11__pie__wrapper--mixed-vaccine-calender .f11__pie__radiobtn-wrapper--mixed-vaccine-completed {
  display: inline-block;
  position: relative;
  top: 10px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11__pie__wrapper--input-btn .f11__pie__wrapper--mixed-vaccine-calender .f11__pie__calender__wrapper--mixed-vaccine {
  display: inline-block;
  width: 165px;
}

.pie__main__wrapper .f11_pie__wrapper--required-edititem-txt .f11__pie__wrapper--input-btn .f11__pie__radiobtn-wrapper--mixed-vaccin-incomprete {
  margin-top: 20px;
}
/*# sourceMappingURL=F11_pet_infomation-edit.css.map */