@import "../css/setting/setting";
@import "../css/setting/reset";

.f11__pic__main__wrapper{
    height: 651px;

    .f11__pic__txt--pet-infomation-detales{
        color: $color-main;
        text-align: center;
        margin: 37px 0 45px 0;
        font-size: 26pt;
        font-weight: $font-weight-base;
        font-family: $font-family-base;
    }
    .f11__pic__btn__warpper--change{
        text-align: right;
        margin-right: 13.5%;
        margin-bottom: 5px;
    }
    
    .f11__pic__table__wrapper{
        display: inline-block;
        width: 560px;
        margin-left: 15%;

        .f11__pic__table--pet-infomation{

            .f11__pic__table__text--left{
                width: 280px;
            }
        }
    }
    .f11__pic__bottom-link{
        display: block;
        text-align: center;
        margin-top: 50px;
    }
}


