@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  line-height: 1.7;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.4rem;
  background-color: #fff;
  line-height: 1.6;
  letter-spacing: 0;
  font-weight: 400;
  font-family: "Noto Sans JP", "Lato", sans-serif;
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}

.container {
  padding-left: 17px;
  padding-right: 17px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 768px) {
  .inner {
    width: 100%;
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
  }
}

.f03__bdcc__background--grey {
  height: 766px;
  background: #888;
}

@media screen and (max-width: 768px) {
  .f03__bdcc__background--grey {
    height: 628px;
  }
}

.f03__bdcc__background--grey .f03__bdcc__inner__group .f03__bdcc__crossbtn__wrapper .f03__bdcc__crossbtn {
  background-color: #ABBC7C;
  position: absolute;
  left: 82.5%;
  top: 29%;
}

@media screen and (max-width: 768px) {
  .f03__bdcc__background--grey .f03__bdcc__inner__group .f03__bdcc__crossbtn__wrapper .f03__bdcc__crossbtn {
    position: absolute;
    left: 91.6%;
    top: 21%;
  }
}

@media screen and (max-width: 425px) {
  .f03__bdcc__background--grey .f03__bdcc__inner__group .f03__bdcc__crossbtn__wrapper .f03__bdcc__crossbtn {
    position: absolute;
    left: 89%;
    top: 21%;
  }
}

@media screen and (max-width: 320px) {
  .f03__bdcc__background--grey .f03__bdcc__inner__group .f03__bdcc__crossbtn__wrapper .f03__bdcc__crossbtn {
    position: absolute;
    left: 87%;
    top: 21%;
  }
}

.f03__bdcc__background--grey .f03__bdcc__inner__group .f03__bdcc__container--white {
  background: #fff;
  display: inline-block;
  width: 68.1%;
  height: 240px;
  border-radius: 10px;
  margin: 230px 16%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .f03__bdcc__background--grey .f03__bdcc__inner__group .f03__bdcc__container--white {
    width: 89.4%;
    height: 314px;
    margin: 147px 4.6%;
  }
}

.f03__bdcc__background--grey .f03__bdcc__inner__group .f03__bdcc__container--white .f03__bdcc__txt--cancel {
  color: #333;
  margin-top: 65px;
  font-size: 12pt;
  font-family: "Noto Sans JP", "Lato", sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .f03__bdcc__background--grey .f03__bdcc__inner__group .f03__bdcc__container--white .f03__bdcc__txt--cancel {
    margin-top: 70px;
  }
}

.f03__bdcc__background--grey .f03__bdcc__inner__group .f03__bdcc__container--white .f03__bdcc__btn-wrapper--yes-no {
  margin-top: 49px;
}

@media screen and (max-width: 768px) {
  .f03__bdcc__background--grey .f03__bdcc__inner__group .f03__bdcc__container--white .f03__bdcc__btn-wrapper--yes-no {
    margin-top: 46px;
  }
}

.f03__bdcc__background--grey .f03__bdcc__inner__group .f03__bdcc__container--white .f03__bdcc__btn-wrapper--yes-no .f03__bdcc__btn--no,
.f03__bdcc__background--grey .f03__bdcc__inner__group .f03__bdcc__container--white .f03__bdcc__btn-wrapper--yes-no .f03__bdcc__btn--yes {
  margin: 0 5px 0 5px;
  width: 192px;
}

@media screen and (max-width: 768px) {
  .f03__bdcc__background--grey .f03__bdcc__inner__group .f03__bdcc__container--white .f03__bdcc__btn-wrapper--yes-no .f03__bdcc__btn--no,
  .f03__bdcc__background--grey .f03__bdcc__inner__group .f03__bdcc__container--white .f03__bdcc__btn-wrapper--yes-no .f03__bdcc__btn--yes {
    display: block;
    margin: 20px auto;
    width: 205px;
  }
}
/*# sourceMappingURL=F03.css.map */