.main__underline{
  color: #707070;
}
.main__member__confirm__title{
  display: flex;
  justify-content: center;
  color: #6F8D1B;
  font-weight: 100;
  padding: 20px 0;
  margin: 15px 0 0 0;
}
.main__member__confirm__text{
  text-align: left;
  padding: 0 0 5px 0;
}
.main__member__confirm__table{
  margin: auto;
  padding: 20px 0;
  & td{
    display: flex;
  }
  & .tell-relation{
    padding: 0 15px 18px 15px;
  }
  & .pass-hide{
    padding: 0 15px 18px 15px;
  }
}

.main__member__confirm__button{
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.main__member__confirm__button-sub{
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 0 0 55px 0;
}


@media screen and (min-width: 768px) {
  .main__member__confirm__title{
    padding: 30px 0;
    margin: 10px 0 0 0;
  }
  .main__member__confirm__text{
    margin: auto;
    width: 930px;
    text-align: left;
    padding: 0 0 15px 0;
  }
  .main__member__confirm__table{
    padding: 30px 0;
    width: 930px;
    & th{
      white-space: nowrap;
    }
    & td{
      display: inline-block;
    }
    & .tell-relation{
      padding: 18px 15px;
    }
    & .pass-hide{
      padding: 18px 15px;
    }
  }
  .main__member__confirm__button-sub{
    padding: 10px 0;
    margin: 0 0 90px 0;
  }
}