.main__underline{
  color: #707070;
}
.main__mypage__interview__finish__title{
  display: flex;
  justify-content: center;
  color: #6F8D1B;
  font-weight: 100;
  padding: 25px 0;
  margin: 15px 0 0 0;
}
.main__mypage__interview__finish__text{
  text-align: center;
  margin: 0 0 20px 0;
}
.main__mypage__interview__finish-link{
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin: 0 0 50px 0;
}

@media screen and (min-width: 768px) {
  .main__mypage__interview__finish__title{
    margin: 40px 0;
    margin: 5px 0 0 0;
  }
  .main__mypage__interview__finish__text{
    text-align: center;
    margin: 0 0 25px 0;
  }
  .main__mypage__interview__finish-link{
    padding: 25px 0;
    margin: 0 0 80px 0;
  }
}