@import "../setting/_setting.scss";

$main-color-green: #6F8D1B;
$store-color: #608120;
$address-color: #333333;
$not-sans: "Noto Sans JP";
$lato: "Lato";

@mixin font-shape($font-color, $font-size: inherit, $font-family: ($font-family-base, 1)) {
    font-size: $font-size;
    color: $font-color;
    font-weight: normal;
    font-family: $font-family, 'san-serif';
}

.l__inner {
    padding: 0px;

    .tab__wrapper {
        margin: 0 auto;
        max-width: 100%;
    }

    .text__wrapper {
        padding-top: 1rem;
    }
}


header,
footer,
.content {
    min-width: 375px;
}

.content {
    width: 100%;

    &__title {
        @include font-shape($color-main, 2.4rem);
        text-align: center;
        margin: 0 auto;
    }

    &__store {
        background-color: #F2F5E9;
        width: 100%;
    }

    &__map {
        width: 100%;
    }
}

.tab__store {
    display: block;
}

.tab__map {
    display: none;
}

.storelist {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 70%;
    max-width: 355px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.store {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 2em;

    flex-basis: 45%;
    margin: 15px 0;

    &__name {
        @include font-shape($color-main, 1.6rem, ($font-family-base, 2));
    }

    &__info-list {
        @include font-shape($color-text-main, 1.4rem);
        height: 145px;
    }

    &__icon {
        width: 1em;
    }
}

.google-map {
    display: block;
    max-width: 930px;
    margin: 0 auto;
    padding: 15px 0;

    &__map {
        display: block;
        margin-top: 5%;
    }

    &__button {
        margin: 5% auto 10% auto;
        max-width: 277px;
    }
}

.address-info {
    &__postal {
        @include font-shape($color-text-main, 16px);
        display: inline-block;
    }

    &__address {
        @include font-shape($color-text-main, 16px);
        margin-left: 19px;
    }
}

.operation-info {

    &__time {
        @include font-shape($color-text-main, 16px);

        span {
            margin-bottom: 5px;
        }
    }

    &__phone {
        @include font-shape($color-text-main, 16px);

        span {
            border-bottom: solid 1px $color-text-main;
            margin-bottom: 5px;
        }
    }
}

.second-important-button {
    width: 100%;
    margin-top: 1.5em;
}

@include mq() {

    header,
    footer,
    .content {
        min-width: 1336px;
    }

    .l__inner {
        .tab__wrapper {
            width: 100%;
        }
    }

    .storelist {
        padding: 15px 0;
        max-width: 930px;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 5%;
    }

    .google-map {
        width: 100%;
        margin: 0 auto;
        padding: 15px 0;

        &__map {
            width: 100%;
            height: 480px;
        }

        &__button {
            width: 277px;
        }
    }

    .store {
        height: 237px;

        &__name {
            @include font-shape($color-main, 1.8rem, $lato);
        }

        &__info-list {
            @include font-shape($color-text-main, 1.4rem);
        }
    }

    .operation-info {
        display: flex;
        gap: 5%;
    }

}