@import "../setting/_setting.scss";
@import "./modules.scss";

@mixin font-shape($font-color, $font-size: inherit) {
    font-size: $font-size;
    color: $font-color;
    font-weight: normal;
}

.l__inner {
    padding: 0px;

    &::before {}

    .tab__wrapper {
        margin: 0 auto;


        @include mq() {
            max-width: 150%;
            position: relative;
            top: 1.6rem;
        }

        &::after {
            // display: none;
        }
    }

    .text__wrapper {
        padding-top: 1rem;
    }
}

.tab {
    &__label {

        &--list,
        &--map {
            &::after {
                bottom: -1rem;
            }
        }
    }
}



.content {


    @include mq() {
        // height: 1990px;
    }

    &__title {
        @include font-shape($color-main, 2.4rem);
        text-align: center;
        margin: 0 auto;
        margin-bottom: 33px;
    }

    &__store {
        background-color: #F2F5E9;
    }

    &__map {}
}

.tab__store {
    display: block;
}

.tab__map {
    display: none;
}

.storelist {
    list-style: none;
    display: block;
    padding: 10px;

    @include mq() {
        margin: 15px auto;
        display: flex;
        justify-content: center;
        padding: 15px 0;
        width: 930px;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 30px
    }
}

.store {
    background-color: #FFFFFF;
    border-radius: 10px;

    margin: 10px auto;
    width: 355px;
    height: 217px;
    padding: 20px;

    @include mq() {
        margin: 0;
        flex-basis: 450px;
        height: 237px;
        padding: 30px;

    }

    &__name {
        @include font-shape($color-main, 1.6rem);

        @include mq() {
            font-size: 1.8rem;
        }
    }

    &__info-list {
        @include font-shape($color-text-main, 1.4rem);
        height: 145px;

        @include mq() {
            font-size: 1.6rem;
        }
    }

    &__icon {
        width: 1em;
    }
}

.detail-button {
    margin-top: 10px;


    @include mq(){
        margin-top: 15px;
    }
}

.google-map {
    display: block;
    max-width: 930px;
    margin: 0 auto;
    padding: 15px 0;

    &__map {
        display: block;
        margin-top: 5%;
        width: 100%;
        height: 480px;

        @include mq(){
            height: 500px;
        }
    }

    &__button {
        margin: 5% auto 10% auto;
        max-width: 277px;
    }

    @include mq() {
        margin: 0 auto;
        padding: 15px 0;

        &__map {
            height: 480px;
        }

        &__button {
            width: 277px;
        }
    }
}

.address-info {
    &__postal {
        @include font-shape($color-text-main, 16px);
        display: inline-block;
    }

    &__address {
        @include font-shape($color-text-main, 16px);
        margin-left: 19px;
    }
}

.operation-info {

    @include mq() {
        display: flex;
        gap: 5%;
    }

    &__time {
        @include font-shape($color-text-main, 16px);

        span {
            margin-bottom: 5px;
        }
    }

    &__phone {
        @include font-shape($color-text-main, 16px);

        a {
            border-bottom: solid 1px $color-text-main;
            margin-bottom: 5px;
        }
    }
}

.second-important-button {
    width: 100%;
}