@import "../setting/_setting.scss";
@import "../styles.scss";

@mixin font-shape($font-color, $font-size: inherit, $font-weight: 400) {
    font-size: $font-size;
    color: $font-color;
    font-weight: $font-weight;
}

$font-size--pc-normal: 1.6rem;
$font-size--sp-normal: 1.4rem;

.radio-button-module {
    display: inline-block;

    &__radio {
        display: block !important;
        margin: 0;
        opacity: 0;
    }

    &__sentence {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 5px;

        &::before {
            display: block;
            content: "";
            width: 3rem;
            height: 3rem;
            border: 1px solid $color-border-gray;
            border-radius: 50%;
        }
    }

    &__radio:checked~&__sentence {
        &::before {
            padding: 6px;
            background-clip: content-box;
            background-color: $color-main;
        }
    }

    &__radio:focus~&__sentence {
        &::before {
            border-color: $color-main;
        }
    }
}

.checkbox-button-module {
    display: inline-block;

    &__checkbox {
        display: block !important;
        margin: 0;
        opacity: 0;
    }

    &__sentence {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 5px;

        &::before {
            display: block;
            content: "";
            width: 3rem;
            height: 3rem;
            border: 1px solid $color-border-gray;
            border-radius: 0.5rem;
        }
    }

    &__checkbox:checked~&__sentence {
        &::before {
            padding: 6px;
            background-color: $color-calendar-highlight;
        }

        &::after {
            position: absolute;
            top: 0.25rem;
            left: 1rem;
            display: block;
            width: 1rem;
            height: 2rem;
            content: "";
            transform: rotate(45deg);
            border: solid $color-background-base;
            border-width: 0 2px 2px 0;
        }
    }

    &__checkbox:focus~&__sentence {
        &::before {
            border-color: $color-main;
        }
    }
}

.radio-button-module {
    margin-right: calc($font-size--pc-normal * 3);
}

.checkbox-button-module {
    @mixin extCbModule() {
        @extend .checkbox-button-module;
    }

    &--symptom {
        @include extCbModule();
        position: relative;
        top: 0.6rem;
    }
}

input,
select {
    font-size: $font-size--sp-normal;
}

body {
    @include font-shape($color-text-main, $font-size--pc-normal);
}

body,
header,
footer {
    min-width: 375px;

    @include mq() {

        min-width: 1336px;
    }
}

.content {
    margin: 0 auto;
    width: 375px;
    padding: 0 17px;

    @include mq() {
        box-sizing: content-box;
        width: 930px;
        margin: 0 auto;
    }

    &__title {
        @include font-shape($color-main, 2.4rem);
        text-align: center;

        @include mq() {
            font-size: 3rem;
        }
    }

    &__note {
        margin-bottom: 20px;
        width: 100%;
    }
}

.confirm-table {
    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 3px;
        min-height: 47px;

    }

    &__title {
        background-color: $color-thin-green;
        padding: $font-size--pc-normal;
        flex-basis: 133px;
        font-size: $font-size--sp-normal;

        @include mq() {
            flex-basis: 248px;
            font-size: $font-size--pc-normal;

        }
    }

    &__answer-content {
        background-color: $color-background-base;
        padding: $font-size--pc-normal;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 208px;

        @include mq() {
            flex-basis: 682px;
        }
    }

    .answer-content {
        margin: auto;

        &__answer {}

        &__detail {}
    }
}

.worried-list,
.anamnesis-list {
    margin: $font-size--pc-normal 0;
}



.most-important-button,
.sub-button {
    display: block;
    width: 220px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin: 30px auto;
}

.icon {
    &__wrapper {

        &--optional,
        &--required {
            width: 32px;
            min-width: 32px;
            height: 17px;
            margin-top: 0.5rem;
            align-self: flex-start;
        }
    }
}

.select {

    &--shevron::after {
        right: 0.5rem;
    }

    &__wrapper {
        @mixin extSelectWrapper() {
            @extend .select__wrapper
        }

        &--symptom,
        &--part {
            @include extSelectWrapper();
            margin-left: 0;
        }
    }
}

.radio {
    &__dog-kind {
        &--label {
            background-color: $color-calendar-background;
            border-radius: 10px;
            display: block;
        }

        &--radio:checked+&--label {
            background-color: $color-thin-green;
            border: $color-circle-border solid 1px;
        }
    }
}

.anamnesis-table {

    min-width: 894px;

    @include mq() {
        width: 100%;
    }

    tr {
        height: 46px;
    }

    &__header {
        background-color: $color-bright-green;
        @include font-shape($color-background-base, $font-size--sp-normal);
        text-align: center;
    }

    &__cell {
        >* {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__col {
        &--symptom {
            width: 40%;
        }

        &--part {
            width: 20%;
        }

        &--detail {
            width: auto;
        }
    }
}

@include mq() {

    .errorlist {
        font-size: $font-size--pc-normal;
    }

}