html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.4rem;
  background-color: #fff;
  line-height: 1.6;
  letter-spacing: 0;
  font-weight: 400;
  font-family: "Noto Sans JP", "Lato", sans-serif;
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}

.container {
  padding-left: 17px;
  padding-right: 17px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 768px) {
  .inner {
    width: 100%;
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
  }
}

.l__inner {
  padding: 0px;
}

.l__inner .tab__wrapper {
  margin: 0 auto;
}

.l__inner .text__wrapper {
  padding-top: 1rem;
}

.content {
  width: 100%;
}

.content__title {
  font-size: 30px;
  color: #6F8D1B;
  font-weight: normal;
  font-family: "Noto Sans JP", "san-serif";
  text-align: center;
  margin: 0 auto;
}

.content__store {
  background-color: #F2F5E9;
  width: 100%;
}

.content__map {
  width: 100%;
}

.tab__store {
  display: block;
}

.tab__map {
  display: none;
}

.storelist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0 auto;
}

.store {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 450px;
  height: 237px;
  padding: 2em;
}

.store__name {
  font-size: 18px;
  color: #6F8D1B;
  font-weight: normal;
  font-family: "Lato", "san-serif";
}

.store__info-list {
  font-size: 16px;
  color: #333;
  font-weight: normal;
  font-family: "Noto Sans JP", "san-serif";
  height: 145px;
}

.store__icon {
  width: 1em;
}

.google-map {
  display: block;
}

.google-map__map {
  display: block;
  margin-top: 5%;
}

.google-map__button {
  margin: 5% auto 10% auto;
}

.address-info__postal {
  font-size: 16px;
  color: #333;
  font-weight: normal;
  font-family: "Noto Sans JP", "san-serif";
  display: inline-block;
}

.address-info__address {
  font-size: 16px;
  color: #333;
  font-weight: normal;
  font-family: "Noto Sans JP", "san-serif";
  margin-left: 19px;
}

.operation-info__time {
  font-size: 16px;
  color: #333;
  font-weight: normal;
  font-family: "Noto Sans JP", "san-serif";
  display: inline-block;
}

.operation-info__time p {
  display: inline-block;
}

.operation-info__phone {
  font-size: 16px;
  color: #333;
  font-weight: normal;
  font-family: "Noto Sans JP", "san-serif";
  display: inline-block;
  margin-left: 16px;
}

.operation-info__phone p {
  display: inline-block;
  border-bottom: solid 1px #333;
  margin-bottom: 5px;
}

.second-important-button {
  width: 100%;
  margin-top: 1.5em;
}

@media all and (min-width: 681px) {
  .l__inner .tab__wrapper {
    max-width: 930px;
    margin: 0 auto;
  }
  .content {
    width: 100%;
  }
  .content__title {
    font-size: 30px;
    color: #6F8D1B;
    font-weight: normal;
    font-family: "Noto Sans JP", "san-serif";
    max-width: 930px;
  }
  .content__store {
    width: 100%;
  }
  .storelist {
    max-width: 930px;
    margin: 0 auto;
    padding: 15px 0;
    overflow-x: hidden;
    gap: 30px;
  }
  .google-map {
    max-width: 930px;
    margin: 0 auto;
    padding: 15px 0;
  }
  .google-map__button {
    max-width: 277px;
  }
}

@media all and (max-width: 680px) {
  .l__inner .tab__wrapper {
    max-width: 375px;
    margin: 0 auto;
  }
  .storelist {
    max-width: 355px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .google-map {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
  }
  .google-map__map {
    width: 100%;
    height: 480px;
  }
  .google-map__button {
    width: 277px;
  }
  .store {
    max-width: 355px;
    margin: 15px 0;
  }
  .operation-info__phone {
    display: block;
    margin: 0;
  }
}
/*# sourceMappingURL=test.css.map */