@import "../../../../setting/reset";
@import "../../../../setting/setting";

.f12__pie__main__wrapper {
    padding: 37px 4.6% 66px 4.6%;

    @media screen and(min-width:768px) {
        padding: 42px 16.3% 101px 16.3%;

    }

    @media screen and(max-width:940px) {
        padding-left: 10.3%;
        padding-right: 10.3%;
    }

    @media screen and(max-width:500px) {
        padding-left: 4.6%;
        padding-right: 4.6%;

    }

    .f12__pie__txt--change-pet-information {
        font-size: 24px;
        color: $color-main;
        text-align: center;
        margin-bottom: 46px;

        @media screen and(min-width:768px) {
            font-size: 30px;

        }
    }

    .f12__pie__wrapper--input-pet-name {

        .f12__pie__required-txt__wrapper--1 {

            @media screen and(min-width:768px) {
                display: inline-block;

            }


            .f12__pie__required__wrapper--1 {
                display: inline-block;
                text-align: center;
            }

            .f12__pie__txt--pet-name {
                display: inline-block;
                font-size: 16px;
                margin-left: 6px;

                @media screen and(min-width:768px) {
                    margin-left: 10px;

                }
            }
        }

        .f12__pie__input__wrapper--1 {
            margin-top: 13px;

            @media screen and(min-width:768px) {
                margin-top: 0;
                display: inline-block;
                margin-left: 114px;
                width: 37.1%;

            }

            .f12__pie__input__area--pet-name {
                width: 100%;

            }
        }
    }

    .f12__pie__wrapper--input-pet-name-kana {
        margin-top: 20px;

        @media screen and(min-width:768px) {
            margin-top: 15px;
        }

        .f12__pie__required-txt__wrapper--2 {

            @media screen and(min-width:768px) {
                display: inline-block;
            }

            .f12__pie__required__wrapper--2 {
                display: inline-block;
                text-align: center;
            }

            .f12__pie__txt--pet-name-kana {
                display: inline-block;
                font-size: 16px;
                margin-left: 6px;

                @media screen and(min-width:768px) {
                    margin-left: 10px;

                }
            }
        }

        .f12__pie__input__wrapper--2 {
            margin-top: 13px;

            @media screen and(min-width:768px) {
                display: inline-block;
                margin-left: 50px;
                width: 37.1%;

            }

            .f12__pie__input__area--pet-name-kana {
                width: 100%;
            }
        }
    }

    .f12__pie__wrapper--input-pet-gender {
        margin-top: 20px;

        @media screen and(min-width:768px) {
            margin-top: 15px;

        }

        .f12__pie__required-txt__wrapper--3 {

            @media screen and(min-width:768px) {
                display: inline-block;
                position: relative;
                bottom: 6px;
            }

            .f12__pie__required__wrapper--3 {
                display: inline-block;
                text-align: center;
            }

            .f12__pie__txt--pet-gender {
                display: inline-block;
                font-size: 16px;
                margin-left: 6px;

                @media screen and(min-width:768px) {
                    margin-left: 10px;

                }
            }
        }

        .f12__pie__redio-group__wrapper--gender {
            margin-top: 13px;

            @media screen and(min-width:768px) {
                margin-top: 0;
                display: inline-block;
                margin-left: 130px;
                width: 41%;
            }

            .f12__pie__radio__wrapper--male {
                display: inline-block;
                margin-right: 6.4%;

                @media screen and(min-width:768px) {
                    margin-right: 12%;

                }


                .f12__pie__radio--male {
                    width: 88px;

                    &::after {
                        content: '男の子';
                    }


                }

            }

            .f12__pie__radio__wrapper--female {
                display: inline-block;
                position: relative;
                right: 6px;

                .f12__pie__radio--female::after {
                    content: '女の子';
                }
            }
        }
    }

    .f12__pie__wrapper--input-pet-birth-date {
        margin-top: 20px;

        @media screen and(min-width:768px) {
            margin-top: 35px;

        }

        .f12__pie__required-txt__wrapper--4 {
            @media screen and(min-width:768px) {
                display: inline-block;
            }

            .f12__pie__required__wrapper--4 {
                display: inline-block;
                text-align: center;
            }

            .f12__pie__txt--pet-birth-date {
                display: inline-block;
                font-size: 16px;
                margin-left: 6px;

                @media screen and(min-width:768px) {
                    margin-left: 10px;
                }
            }
        }

        .f12__pie__select-group__wrapper--birth-date {
            margin-top: 13px;

            @media screen and(min-width:768px) {
                margin-top: 0;
                display: inline-block;
                margin-left: 98px;
                width: 50.1%;
            }

            .f12__pie__select__wrapper--year {
                width: 29.5%;
                display: inline-block;

                @media screen and(min-width:768px) {
                    width: 29.3%;
                }
            }

            .f12__pie__select__wrapper--month {
                display: inline-block;
                width: 23.5%;
                margin-left: 10px;
            }

            .f12__pie__select__wrapper--day {
                display: inline-block;
                width: 23.5%;
                margin-left: 10px;
            }
        }

        .f12__pie__reflected__txt__background {
            background-color: $color-thin-green;
            display: inline-block;
            width: 73.5%;
            height: 46px;
            margin-top: 15px;
            text-align: center;

            @media screen and(min-width:768px) {
                display: inline-block;
                width: 250px;
                position: absolute;
                margin-top: 0;
            }


            @media screen and(max-width:1070px) {
                position: relative;
                margin-top: 15px;

            }

            p {
                font-size: 16px;
                margin-top: 6px;

                span {
                    font-size: 20px;
                    margin-left: 10px;
                    color: $color-main;
                }
            }
        }

        .f12__pie__complement-txt--1 {
            font-size: 12px;
        }
    }

    .f12__pie__wrapper--input--vaccintion-date {
        margin-top: 20px;

        @media screen and(min-width:768px) {
            margin-top: 43px;

        }

        .f12__pie__required-txt__wrapper--5 {

            .f12__pie__required__wrapper--5 {
                display: inline-block;
                text-align: center;

            }

            .f12__pie__txt--rabies-mixed-vaccination-date {
                display: inline-block;
                font-size: 16px;
                margin-left: 6px;

                @media screen and(min-width:768px) {
                    margin-left: 10px;
                }
            }
        }

        .f12__pie__mixed-vaccination {
            margin-top: 20px;

            .f12__pie__txt--mixed-vaccine {
                font-size: 16px;
                margin-bottom: 13px;

                @media screen and(min-width:768px) {
                    display: inline-block;
                    position: relative;
                    bottom: 6px;

                }
            }

            .f12__pie__radio__wrapper--completed-mixed {
                display: inline-block;

                @media screen and(min-width:768px) {

                    margin-left: 177px;
                }

                .f12__pie__radio--mixed-1 {
                    width: 56px;

                    &::after {
                        content: '済';
                    }
                }
            }

            .f12__pie__calendar__wrapper--mixed-vaccine {
                display: inline-block;
                vertical-align: top;
                width: 220px;
                height: 46px;
                margin-left: 20px;
            }

            .f12__pie__radio__wrapper--incomplete-mixed {

                @media screen and(min-width:768px) {
                    margin-left: 277px;
                }

                .f12__pie__radio--mixed-2::after {
                    content: '未';
                }
            }

        }

        .f12__pie__rabies-vaccination {
            margin-top: 20px;



            .f12__pie__txt--rabies-vaccine {
                font-size: 16px;
                margin-bottom: 13px;

                @media screen and(min-width:768px) {
                    display: inline-block;
                    position: relative;
                    bottom: 6px;
                }
            }

            .f12__pie__radio__wrapper--completed-rabies {
                display: inline-block;

                .f12__pie__radio--rabies-1 {
                    width: 56px;

                    @media screen and(min-width:768px) {
                        margin-left: 162px;
                    }

                    &::after {
                        content: '済';
                    }
                }
            }

            .f12__pie__calendar__wrapper--ranies-vaccine {
                display: inline-block;
                vertical-align: top;
                width: 220px;
                height: 46px;
                margin-left: 20px;


            }

            .f12__pie__radio--rabies-2 {

                @media screen and(min-width:768px) {

                    margin-left: 278px;
                }


                &::after {
                    content: '未';
                }
            }


        }
    }

    .f12__pie__wrapper--input-government-register {
        margin-top: 20px;

        @media screen and(min-width:768px) {
            margin-top: 23px;
        }



        .f12__pie__required-txt__wrapper--6 {
            height: 40px;
            margin-bottom: 18px;

            @media screen and(min-width:768px) {
                display: inline-block;
                position: relative;
                top: 12px;
            }

            .f12__pie__required__wrapper--6 {
                display: inline-block;
                text-align: center;
                vertical-align: top;
                position: relative;
                top: 9px;
            }

            .f12__pie__txt--government-register {
                font-size: 16px;
                display: inline-block;
                width: 84%;
                margin-left: 6px;

                @media screen and(min-width:768px) {
                    margin-left: 10px;
                    width: 170px;
                }

                @media screen and(max-width:375px) {
                    position: absolute;

                }
            }

        }

        .f12__pie__radio__wrapper--yes-government {
            display: inline-block;
            margin-right: 11.8%;

            @media screen and(min-width:768px) {
                margin-left: 62px;
                margin-right: 5.5%;
            }


            .f12__pie__radio--government-1 {
                width: 72px;

                &::after {
                    content: 'はい';
                }

            }
        }

        .f12__pie__radio__wrapper--no-government {
            display: inline-block;

            .f12__pie__radio--government-2 {

                &::after {
                    content: 'いいえ';
                }
            }


        }


    }

    .f12__pie__wrapper--input-contraception {
        margin-top: 20px;

        @media screen and(min-width:768px) {
            margin-top: 35px;
        }

        .f12__pie__required-txt__wrapper--7 {
            height: 16px;
            margin-bottom: 18px;

            @media screen and(min-width:768px) {
                display: inline-block;
                position: relative;
                bottom: 8px;
            }



            .f12__pie__required__wrapper--7 {
                display: inline-block;
                text-align: center;
            }

            .f12__pie__txt--contraception {
                display: inline-block;
                margin-left: 6px;
                font-size: 16px;
            }
        }

        .f12__pie__radio__wrapper--yes-contraception {
            display: inline-block;
            margin-right: 11.8%;

            @media screen and(min-width:768px) {
                margin-right: 5.5%;
                margin-left: 28px;
            }

            .f12__pie__radio--contraception-1 {
                width: 72px;

                &::after {
                    content: 'はい';
                }
            }


        }

        .f12__pie__radio__wrapper--no-contraception {
            display: inline-block;

            .f12__pie__radio--contraception-2 {

                &::after {
                    content: 'いいえ';
                }

            }

        }
    }

    .f12__pie__wrapper--input-microchip {
        margin-top: 20px;

        @media screen and(min-width:768px) {
            margin-top: 50px;

        }

        .f12__pie__required-txt__wrapper--8 {
            height: 16px;
            margin-bottom: 18px;

            @media screen and(min-width:768px) {
                display: inline-block;
                display: inline-block;
                position: relative;
                top: 8px;

            }

            .f12__pie__required__wrapper--8 {
                display: inline-block;
                text-align: center;

                @media screen and(min-width:768px) {
                    vertical-align: top;
                    position: relative;
                    top: 9px;

                }
            }

            .f12__pie__txt--microchip {
                display: inline-block;
                margin-left: 6px;
                font-size: 16px;

                @media screen and(min-width:768px) {
                    width: 176px;
                }
            }
        }

        .f12__pie__radio__wrapper--yes-microchip {
            display: inline-block;
            margin-right: 11.8%;

            @media screen and(min-width:768px) {

                margin-right: 5.5%;
                margin-left: 60px;
            }

            .f12__pie__radio--microchip-1 {
                width: 72px;

                &::after {
                    content: 'はい';
                }

            }

        }

        .f12__pie__radio__wrapper--no-microchip {
            display: inline-block;

            .f12__pie__radio--microchip-2 {

                &::after {
                    content: 'いいえ';
                }

            }

        }
    }

    .f12__pie__wrapper--input-pet-type {
        margin-top: 20px;

        @media screen and(min-width:768px) {
            margin-top: 50px;
        }

        .f12__pie__required-txt__wrapper--9 {
            margin-bottom: 13px;
            height: 24px;

            .f12__pie__required__wrapper--9 {
                display: inline-block;
                text-align: center;
            }

            .f12__pie__txt--pet-type {
                display: inline-block;
                margin-left: 6px;
                font-size: 16px;
            }
        }

        .f12__pie__pet-type__wrapper--1 {
            display: inline-block;
            width: 342px;


            @media screen and(min-width:768px) {
                position: relative;
                left: 29.1%;
                bottom: 24px;
                display: inline-block;
                width: 655px;
            }

            @media screen and(max-width:1070px) {
                position: relative;
                left: 0;
                bottom: 0;

            }

            input:checked+.f12__pie__dog-type--label {

                border: solid $color-main 1px;
                background-color: $color-thin-green;
            }


            .f12__pie__dog-type--label {
                width: 107px;
                height: 107px;
                display: inline-block;
                background: #f5f5f5;
                border-radius: 5%;

                @media screen and(min-width:768px) {
                    width: 212px;
                    height: 212px;
                }


                .f12__pie__pet__img {
                    width: 89px;
                    height: 69px;
                    display: block;
                    margin: 7px auto 0 auto;

                    @media screen and(min-width:768px) {
                        width: 176px;
                        height: 124px;
                        margin-bottom: 6px;
                    }

                }

                span {
                    font-size: 10px;
                    display: block;
                    text-align: center;
                    height: 13px;

                    @media screen and(min-width:768px) {
                        font-size: 16px;
                        height: 22px;
                    }
                }
            }

            .f12__pie__label--chihuahua {
                margin-left: 1%;

                @media screen and(min-width:768px) {
                    margin-left: 0.8%;
                }


            }

            .f12__pie__label--pomeranian {
                margin-left: 1%;
                vertical-align: top;

                @media screen and(min-width:768px) {
                    margin-left: 0.8%;
                }


            }

        }

        .f12__pie__pet-type__wrapper--2 {
            margin-top: 10px;
            display: inline-block;
            width: 342px;



            @media screen and(min-width:768px) {
                margin-top: 0.8%;
                position: relative;
                left: 29.1%;
                bottom: 24px;
                display: inline-block;
                width: 655px;
            }

            @media screen and(max-width:1070px) {
                position: relative;
                left: 0;
                bottom: 0;

            }



            input:checked+.f12__pie__dog-type--label {

                border: solid $color-main 1px;
                background-color: $color-thin-green;
            }


            .f12__pie__dog-type--label {
                width: 107px;
                height: 107px;
                display: inline-block;
                background: #f5f5f5;
                border-radius: 5%;

                @media screen and(min-width:768px) {
                    width: 212px;
                    height: 212px;
                }


                .f12__pie__pet__img {
                    width: 89px;
                    height: 69px;
                    display: block;
                    margin: 7px auto 0 auto;

                    @media screen and(min-width:768px) {
                        width: 176px;
                        height: 124px;
                        margin-bottom: 6px;
                    }


                }

                span {
                    font-size: 10px;
                    display: block;
                    text-align: center;
                    height: 13px;

                    @media screen and(min-width:768px) {
                        font-size: 16px;
                        height: 22px;
                    }
                }
            }

            .f12__pie__label--yorkie {
                margin-left: 1%;

                @media screen and(min-width:768px) {
                    margin-left: 0.8%;
                }
            }

            .f12__pie__label--shihtzu {
                margin-left: 1%;
                vertical-align: top;

                @media screen and(min-width:768px) {
                    margin-left: 0.8%;
                }
            }

        }

        .f12__pie__pet-type__wrapper--3 {
            margin-top: 10px;
            display: inline-block;
            width: 342px;


            @media screen and(min-width:768px) {
                margin-top: 0.8%;
                position: relative;
                left: 29.1%;
                bottom: 24px;
                display: inline-block;
                width: 655px;
            }

            @media screen and(max-width:1070px) {
                position: relative;
                left: 0;
                bottom: 0;

            }

            input:checked+.f12__pie__dog-type--label {

                border: solid $color-main 1px;
                background-color: $color-thin-green;
            }


            .f12__pie__dog-type--label {
                width: 107px;
                height: 107px;
                display: inline-block;
                background: #f5f5f5;
                border-radius: 5%;

                @media screen and(min-width:768px) {
                    width: 212px;
                    height: 212px;
                }


                .f12__pie__pet__img {
                    width: 89px;
                    height: 69px;
                    display: block;
                    margin: 7px auto 0 auto;

                    @media screen and(min-width:768px) {
                        width: 176px;
                        height: 124px;
                        margin-bottom: 6px;
                    }

                }

                span {
                    font-size: 10px;
                    display: block;
                    text-align: center;
                    height: 13px;

                    @media screen and(min-width:768px) {
                        font-size: 16px;
                        height: 22px;
                    }
                }
            }

            .f12__pie__label--schnauzer {
                margin-left: 1%;

                @media screen and(min-width:768px) {
                    margin-left: 0.8%;
                }
            }

            .f12__pie__label--toypoodle {
                margin-left: 1.7%;
                vertical-align: top;

                @media screen and(min-width:768px) {
                    margin-left: 0.8%;
                }
            }

        }

        .f12__pie__pet-type__wrapper--4 {
            margin-top: 10px;
            display: inline-block;
            width: 342px;

            @media screen and(min-width:768px) {
                margin-top: 0.8%;
                position: relative;
                left: 29.1%;
                bottom: 24px;
                display: inline-block;
                width: 655px;
            }

            @media screen and(max-width:1070px) {
                position: relative;
                left: 0;
                bottom: 0;

            }

            input:checked+.f12__pie__dog-type--label {

                border: solid $color-main 1px;
                background-color: $color-thin-green;
            }


            .f12__pie__dog-type--label {
                width: 107px;
                height: 107px;
                display: inline-block;
                background: #f5f5f5;
                border-radius: 5%;

                @media screen and(min-width:768px) {
                    width: 212px;
                    height: 212px;
                }


                .f12__pie__pet__img {
                    width: 89px;
                    height: 69px;
                    display: block;
                    margin: 7px auto 0 auto;

                    @media screen and(min-width:768px) {
                        width: 176px;
                        height: 124px;
                        margin-bottom: 6px;
                    }

                }

                span {
                    font-size: 10px;
                    display: block;
                    text-align: center;
                    height: 13px;


                    @media screen and(min-width:768px) {
                        font-size: 16px;
                        height: 22px;
                    }
                }
            }

            .f12__pie__label--mix-2 {
                margin-left: 1%;

                @media screen and(min-width:768px) {
                    margin-left: 0.8%;
                }
            }

            .f12__pie__label--mix-3 {
                margin-left: 1%;
                vertical-align: top;

                @media screen and(min-width:768px) {
                    margin-left: 0.8%;
                }
            }

            .f12__pie__anchor-txt--1 {
                text-align: center;
                display: block;
                margin-top: 20px;

                @media screen and(min-width:768px) {
                    margin-top: 35px;

                }
            }

            .f12__pie__gray__wrapper {
                height: 60px;
                width: 100%;
                background: #f5f5f5;
                padding-top: 10px;
                padding-bottom: 15px;
                padding-left: 4%;
                margin-top: 40px;

                @media screen and(min-width:768px) {
                    margin-top: 33px;

                }

                .f12__pie__gray__inner__txt--1 {
                    font-size: 14px;
                    height: 14px;

                    @media screen and(min-width) {
                        font-size: 16px;
                    }
                }

                .f12__pie__gray__inner__txt--2 {
                    margin-top: 4px;
                    font-size: 14px;
                    height: 14px;

                    @media screen and(min-width) {
                        font-size: 16px;
                    }
                }
            }

        }



    }


    .f12__pie__btn__orange {
        margin-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .f12__pie__anchor-txt--2 {
        margin-top: 35px;
        display: block;
        text-align: center;
    }




}