@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  line-height: 1.7;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.4rem;
  background-color: #fff;
  line-height: 1.6;
  letter-spacing: 0;
  font-weight: 400;
  font-family: "Noto Sans JP", "Lato", sans-serif;
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}

.container {
  padding-left: 17px;
  padding-right: 17px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 768px) {
  .inner {
    width: 100%;
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
  }
}

.f12__pie__main__wrapper {
  padding: 37px 17px 66px 17px;
}

.f12__pie__main__wrapper .f12__pie__txt--change-pet-information {
  font-size: 24px;
  color: #6F8D1B;
  text-align: center;
  margin-bottom: 46px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-name .f12__pie__required-txt__wrapper--1 .f12__pie__required__wrapper--1 {
  display: inline-block;
  text-align: center;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-name .f12__pie__required-txt__wrapper--1 .f12__pie__txt--pet-name {
  display: inline-block;
  font-size: 16px;
  margin-left: 6px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-name .f12__pie__input__wrapper--1 {
  margin-top: 13px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-name-kana {
  margin-top: 20px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-name-kana .f12__pie__required-txt__wrapper--2 .f12__pie__required__wrapper--2 {
  display: inline-block;
  text-align: center;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-name-kana .f12__pie__required-txt__wrapper--2 .f12__pie__txt--pet-name-kana {
  display: inline-block;
  font-size: 16px;
  margin-left: 6px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-name-kana .f12__pie__input__wrapper--2 {
  margin-top: 13px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-gender {
  margin-top: 20px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-gender .f12__pie__required-txt__wrapper--3 .f12__pie__required__wrapper--3 {
  display: inline-block;
  text-align: center;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-gender .f12__pie__required-txt__wrapper--3 .f12__pie__txt--pet-gender {
  display: inline-block;
  font-size: 16px;
  margin-left: 6px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-gender .f12__pie__redio-group__wrapper--gender {
  margin-top: 13px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-gender .f12__pie__redio-group__wrapper--gender .f12__pie__radio__wrapper--male {
  display: inline-block;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-gender .f12__pie__redio-group__wrapper--gender .f12__pie__radio__wrapper--male .f12__pie__radio--male::after {
  content: '男の子';
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-gender .f12__pie__redio-group__wrapper--gender .f12__pie__radio__wrapper--female {
  display: inline-block;
  position: relative;
  right: 6px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-gender .f12__pie__redio-group__wrapper--gender .f12__pie__radio__wrapper--female .f12__pie__radio--female::after {
  content: '女の子';
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-birth-date {
  margin-top: 20px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-birth-date .f12__pie__required-txt__wrapper--4 .f12__pie__required__wrapper--4 {
  display: inline-block;
  text-align: center;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-birth-date .f12__pie__required-txt__wrapper--4 .f12__pie__txt--pet-birth-date {
  display: inline-block;
  font-size: 16px;
  margin-left: 6px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-birth-date .f12__pie__select-group__wrapper--birth-date {
  margin-top: 13px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-birth-date .f12__pie__select-group__wrapper--birth-date .f12__pie__select__wrapper--year {
  width: 100px;
  display: inline-block;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-birth-date .f12__pie__select-group__wrapper--birth-date .f12__pie__select__wrapper--month {
  display: inline-block;
  width: 80px;
  margin-left: 10px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-birth-date .f12__pie__select-group__wrapper--birth-date .f12__pie__select__wrapper--day {
  display: inline-block;
  width: 80px;
  margin-left: 10px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-birth-date .f12__pie__reflected__txt__background {
  background-color: #F2F5E9;
  display: inline-block;
  width: 250px;
  height: 46px;
  margin-top: 15px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-birth-date .f12__pie__reflected__txt__background p {
  font-size: 16px;
  margin-left: 48px;
  margin-top: 6px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-birth-date .f12__pie__reflected__txt__background p span {
  font-size: 20px;
  margin-left: 10px;
  color: #6F8D1B;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input-pet-birth-date .f12__pie__complement-txt--1 {
  font-size: 12px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input--vaccintion-date {
  margin-top: 20px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input--vaccintion-date .f12__pie__required-txt__wrapper--5 .f12__pie__required__wrapper--5 {
  display: inline-block;
  text-align: center;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input--vaccintion-date .f12__pie__required-txt__wrapper--5 .f12__pie__txt--rabies-mixed-vaccination-date {
  display: inline-block;
  font-size: 16px;
  margin-left: 6px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input--vaccintion-date .f12__pie__mixed-vaccination {
  margin-top: 19px;
}

.f12__pie__main__wrapper .f12__pie__wrapper--input--vaccintion-date .f12__pie__mixed-vaccination .f12__pie__txt--mixed-vaccine {
  font-size: 16px;
  margin-top: 20px;
}
/*# sourceMappingURL=F12.css.map */