@import "../../../../setting/_setting.scss";
@import "./modules.scss";

@mixin font-shape($font-color, $font-size: inherit, $font-weight: 400) {
    font-size: $font-size;
    color: $font-color;
    font-weight: $font-weight;
}

@function getExtendClass($compoClass) {
    $splitter: selector-parse($compoClass);
    $self: nth(nth($splitter, 1), length(nth($splitter, 1)));
    @return $self;
}

$font-size--pc-normal: 1.6rem;
$font-size--sp-normal: 1.4rem;

body.f17 {

    input,
    select {
        font-size: $font-size--sp-normal;
    }

    body {
        @include font-shape($color-text-main, $font-size--pc-normal);
    }

    body,
    header,
    footer {
        min-width: 375px;

        @include mq() {

            min-width: 1336px;
        }
    }

    .content {
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        width: 375px;
        padding: 0 17px;
        text-align: left;

        @include mq() {
            box-sizing: content-box;
            width: 930px;
            margin-top: 36px;
        }

        &__title {
            @include font-shape($color-main, 2.4rem);
            text-align: center;

            @include mq() {
                font-size: 3rem;
            }
        }

        &__note {
            margin-top: 43px;
            margin-bottom: 39px;
            width: 100%;
        }
    }

    .confirm-table {
        &__row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-bottom: 3px;
            min-height: 47px;

        }

        &__title {
            background-color: $color-thin-green;
            padding: $font-size--pc-normal;
            flex-basis: 133px;
            font-size: 1.2rem;
            letter-spacing: -0.1rem;
            padding: 20px;

            @include mq() {
                flex-basis: 248px;
                font-size: $font-size--pc-normal;
                padding: 13px 15px;
            }
        }

        &__answer-content {
            $self: getExtendClass(&);

            background-color: $color-background-base;
            padding: $font-size--pc-normal;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-basis: 208px;
            padding: 13px 20px;
            font-size: $font-size--sp-normal;

            @include mq() {
                flex-basis: 682px;
                font-size: $font-size--pc-normal
            }

            &--anamnesis,
            &--consultation,
            &--checkup,
            &--feces {
                @extend #{$self};
                padding: 25px 20px;
            }

            &--eating-sheet {
                @extend #{$self};
                padding: 50px 20px;
            }
        }

        .answer-content {
            margin: auto;

            &__answer {}

            &__detail {}
        }
    }

    .anamnesis-list {
        margin: $font-size--pc-normal 0;
    }



    .most-important-button,
    .sub-button {
        display: block;
        width: 220px;
        margin: 0 auto;
        margin-bottom: 30px;
        margin: 30px auto;
    }

    .sub-button {
        margin-bottom: 66px;

        @include mq() {
            margin-bottom: 101px;

        }
    }

    .icon {
        &__wrapper {

            &--optional,
            &--required {
                width: 32px;
                min-width: 32px;
                height: 17px;
                margin-top: 0.5rem;
                align-self: flex-start;
            }
        }
    }

    .select {

        &--shevron::after {
            right: 0.5rem;
        }

        &__wrapper {
            @mixin extSelectWrapper() {
                @extend .select__wrapper
            }

            &--symptom,
            &--part {
                @include extSelectWrapper();
                margin-left: 0;
            }
        }
    }

    .radio {
        &__dog-kind {
            &--label {
                background-color: $color-calendar-background;
                border-radius: 10px;
                display: block;
            }

            &--radio:checked+&--label {
                background-color: $color-thin-green;
                border: $color-circle-border solid 1px;
            }
        }
    }

    .anamnesis-table {

        min-width: 894px;

        @include mq() {
            width: 100%;
        }

        tr {
            height: 46px;
        }

        &__header {
            background-color: $color-bright-green;
            @include font-shape($color-background-base, $font-size--sp-normal);
            text-align: center;
        }

        &__cell {
            >* {
                display: inline-block;
                vertical-align: middle;
            }
        }

        &__col {
            &--symptom {
                width: 40%;
            }

            &--part {
                width: 20%;
            }

            &--detail {
                width: auto;
            }
        }
    }

    @include mq() {

        .errorlist {
            font-size: $font-size--pc-normal;
        }

    }
}